<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Kelurahan Fontein</title>
    <link rel="icon" type="image/x-icon" href="/images/489px-LOGO_KOTA_KUPANG (1 300x300).webp">

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <!-- <link rel="stylesheet" href="/stylesheets/home-mobile-style.css"> -->
    
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/js/all.min.js" integrity="sha512-8pHNiqTlsrRjVD4A/3va++W1sMbUHwWxxRPWNyVlql3T+Hgfd81Qc6FC5WMXDC+tSauxxzp1tgiAvSKFu1qIlA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"> -->

    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">


</head>
<body>
    
    <!-- js function to import html file that contains parts-->

    <style>
        /**RECTANGLE 1-4**/

@media  screen and (min-width : 1024px){
    .rectangle1, .rectangle2, .rectangle3, .rectangle4{
        width: 25vw;
        height: 21vh;
    }
}
@media  screen and (min-width : 769px){
    .rectangle1, .rectangle2, .rectangle3, .rectangle4{
        width: 20vw;
        height: 23vh;
    }
}

@media  screen and (max-width : 768px){
    .rectangle1, .rectangle2, .rectangle3, .rectangle4{
        width: 30vw;
        height: 25vh;
    }
    .rectangle1 p, .rectangle2 p, .rectangle3 p, .rectangle4 p{
        padding-right: 1vw;
        padding-bottom: 3vh;
    }
    .numbers .rectangle1 h1 , .rectangle2 h1, .rectangle3 h1, .rectangle4 h1{
        font-size: 10vw;
        padding-right: 18px;
    }

}

@media  screen and (max-width : 426px){
    .rectangle1, .rectangle2, .rectangle3, .rectangle4{
        width: 45vmax;
        height: 25vmax;
    }
    .rectangle1 p, .rectangle2 p, .rectangle3 p, .rectangle4 p{
        padding-right: 1vw;
        padding-bottom: 3vh;
    }
    .numbers .rectangle1 h1 , .rectangle2 h1, .rectangle3 h1, .rectangle4 h1{
        font-size: 20vw;
        padding-right: 18px;
    }
}

@media  screen and (max-width : 375px){
    .rectangle1, .rectangle2, .rectangle3, .rectangle4{
        width: 30vmax;
        height: 20vmax;
    }
    .rectangle1 p, .rectangle2 p, .rectangle3 p, .rectangle4 p{
        padding-right: 1vw;
        padding-bottom: 3vh;
    }
    .numbers .rectangle1 h1 , .rectangle2 h1, .rectangle3 h1, .rectangle4 h1{
        font-size: 20vw;
        padding-right: 18px;
    }
    
} 



/**RECTANGLE 5-7**/

@media  screen and (min-width : 1024px){
    .rectangle5, .rectangle6, .rectangle7 {
        width: 25vw;
        height: 21vh;
    }
}
@media  screen and (min-width : 769px){
    .rectangle5, .rectangle6, .rectangle7{
        width: 20vw;
        height: 23vh;
    }
}

@media  screen and (max-width : 768px){
    .rectangle5, .rectangle6, .rectangle7{
        width: 30vw;
        height: 25vh;
    }
    .rectangle5 p, .rectangle6 p, .rectangle7 p{
        padding-right: 1vw;
        padding-bottom: 3vh;
    }
    .numbers .rectangle5 h1 , .rectangle6 h1, .rectangle7 h1{
        font-size: 10vw;
        padding-right: 18px;
    }

}

@media  screen and (max-width : 426px){
    .rectangle5, .rectangle6, .rectangle7{
        width: 45vmax;
        height: 25vmax;
    }
    .rectangle5 p, .rectangle6 p, .rectangle7 p{
        padding-right: 1vw;
        padding-bottom: 3vh;
    }
    .numbers .rectangle5 h1 , .rectangle6 h1, .rectangle7 h1{
        font-size: 20vw;
        padding-right: 18px;
    }
}

@media  screen and (max-width : 375px){
    .rectangle5, .rectangle6, .rectangle7 {
        width: 30vmax;
        height: 20vmax;
    }
    .rectangle5 p, .rectangle6 p, .rectangle7 {
        padding-bottom: 3vh;
    }
    .numbers .rectangle5 h1 , .rectangle6 h1, .rectangle7 h1{
        font-size: 20vw;
        padding-right: 18px;
    }
    
} 
    </style>

<style>
    .card {
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .card-img-top {
        width: 100%;
        height: 200px; /* Set a fixed height */
        object-fit: cover; /* Ensures the image covers the box while maintaining aspect ratio */
        border-bottom: 1px solid #ddd;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .card-body {
        padding: 15px;
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .card-title {
        margin: 0 0 10px;
        font-size: 1.25em;
        font-weight: bold;
        text-align: start;
    }

    .card-text {
        margin: 0 0 10px;
        flex: 1;
    }

    .card-date {
        font-size: 0.9em;
        color: #999;
    }
</style>
    
    
    <header id="navbar-placeholder">
        <%- include('partials/header'); -%>
        
        <!-- already imported with js -->
    </header>     

    <main>  
        <section class="section-1 container-fluid p-0">
            <div class="cover">
                    <div class="content text-start pe-2">
                        <div class="container">
                        <h1 class="animate__fadeInUp">Selamat Datang</h1>
                        <p>Website ini dibuat dengan tujuan memvisualisasi data yang ada pada Kelurahan Fontein agar dapat mempermudah pengunjung untuk mencakup informasi terkait data UMKM bagi penduduk Kelurahan Fontein.</p>
                        </div>
                    </div>
            </div>
            <h3>Ikhtisar Data</h3>
            <h5>Data UMKM</h5>
            <div class="container-fluid text-end">
                <div class="numbers d-flex flex-md-row flex-wrap justify-content-center">
                    <div class="rectangle1">
                        <a href="/main_stats">
                        <!-- <i class="fa-solid fa-people-simple fa-6x"></i>                         -->
                        <img class="icons" src="/images/icons8-queue-96.webp" alt="">
                        
                        <h1><%= totalUmkm %></h1>
                   
                        <p>Total UMKM</p>
                        </a>
                    </div>
                    <div class="rectangle2">
                        <a href="/mikro_stats">
                        <!-- <i class="fa-solid fa-shop fa-6x"></i> -->
                        <img class="icons" src="/images/icons8-shop-96.webp" alt="">
                       
                        <h1><%= totalMikro %></h1>
                     
                        <p>Usaha Mikro</p>
                        </a>
                    </div>
                    <div class="rectangle3">
                        <a href="/kecil_stats">
                        <!-- <i class="fa-solid fa-cart-shopping fa-6x"></i> -->
                        <img class="icons" src="/images/icons8-buying-96.webp" alt="">
                        
                        <h1><%= totalKecil %></h1>
                     
                        <p>Usaha Kecil</p>
                        </a>
                    </div>
                    <div class="rectangle4">
                        <a href="/menengah_stats">
                        <!-- <i class="fa-solid fa-building fa-6x"></i> -->
                        <img class="icons" src="/images/icons8-building-96.webp" alt="">
                       
                        <h1><%= totalMenengah %></h1>
                        
                        <p>Usaha Menengah</p>
                        </a>
                    </div>
                </div>
            </div>
            <h3>Aktivitas Kelurahan Fontein</h3>

            <section class="container-fluid">
                <div class="row p-4">
                    <% for(let i=0; i < kegiatanData.length; i++) { %>
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <img src="data:image/png;base64,<%= kegiatanData[i].foto_kegiatan %>" class="card-img-top" alt="Foto Kegiatan">
                                <div class="card-body">
                                    <p class="card-title"><%= kegiatanData[i].nama_kegiatan %></p>

                                    <p class="card-date"><%= new Date(kegiatanData[i].tanggal_kegiatan).toLocaleString('id-ID', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' }) %></p>
                                    <p class="card-text"><%= kegiatanData[i].deskripsi_kegiatan %></p>
                                </div>
                            </div>
                        </div>
                    <% } %>
            

            
                    <!-- Add more cards as needed -->
                </div>
            </section>
                    

            <!-- kosong sementara -->
            <!-- <h3>Berita</h3> -->
            <!-- CARD UNTUK SECTION BERITA TERKINI -->
            <div id="berita-section" class="card mt-5">
                <div class="card-body bg-light" id="sectionBerita">
                <div class="card">
                    <h1 class="font-title-costum text-center text-uppercase">berita terkini</h1>
                    <div class="col-md-9 mx-auto">
                    <p style="text-align: justify;">
                        Kami menyediakan fitur <span class="fw-bold">"berita terkini"</span> bagi pengunjung website yang mengakses website profil Oetete. Dengan tujuan dapat meningkatkan literasi pengunjung website dan menambah wawasan mengenai informasi/berita yang dibaca.
                    </p>
                    <p >
                        Berikut ini berita yang kami sediakan dengan berbagai jenis berita:
                    </p>
            
                    <!-- JENIS KE  1 -->
                    <div class="accordion mb-3" id="accordionExample1">
                        <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <span class="fw-bolder fs-3">
                                <i class="me-2 fa-solid fa-newspaper fa-beat-fade"></i>TOP NEWS
                            </span>
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample1">
                            <div class="accordion-body">
                            <div class="row justify-content-center" id="berita-container">
                                <!-- all content for TOP NEWS -->
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- end JENIS 1 -->
            
                    <!-- JENIS KE  2 -->
                    <div class="accordion mb-3" id="accordionExample2">
                        <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <span class="fw-bolder fs-3">
                                <i class="me-2 fa-solid fa-film fa-beat-fade"></i>HIBURAN
                            </span>
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample2">
                            <div class="accordion-body">
                            <div class="row justify-content-center" id="berita-hiburan-container">
                                <!-- all content for HIBURAN -->
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- end JENIS 2 -->
            
                    <!-- JENIS KE  3 -->
                    <div class="accordion mb-3" id="accordionExample3">
                        <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            <span class="fw-bolder fs-3">
                                <i class="me-2 fa-solid fa-scale-balanced fa-beat-fade" style="color: #36455e;"></i>
                                HUKUM
                            </span>
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample3">
                            <div class="accordion-body">
                            <div class="row justify-content-center" id="berita-hukum-container">
                                <!-- all content for HUKUM -->
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- end JENIS 3 -->
            
                    <!-- Tambahkan lebih banyak item sesuai kebutuhan -->
                    </div>
                </div>
                </div>
            </div>
           
            <br><br>
        </section>
    </main>
    
    
    <footer id="footer-placeholder">
        <!-- already imported with js -->
        <%-include('partials/footer'); -%>
    </footer>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

        <script src="/javascripts/document.js"></script>
        <script src="/javascripts/darkmode.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

        <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
        <!-- <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script> -->
        <!-- <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script> -->
        <script src="/javascripts/rssHiburan.js"></script>
        <script src="/javascripts/rssHukum.js"></script>
        <script src="/javascripts/rssKriminal.js"></script>
    </body>
</html>